.sidebar {
  width: 7%;
  float: left;
  background-color: lightgrey;
  font-size: 24px;
  list-style-type: none;
  padding: 4px;
  border: 2px dashed #ff00ff;
}

.column {
  width: 40%;
  float: left;
  padding: 10px;
}

img {
  float: left;
  width: 75%;
  padding: 10px;
}

.this {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.go-this-way {
  float: right;
  width: 92%;
}
